
 body{
    background-color:white;
  }
.header {
    list-style-type:none;
    margin:0;
    display:flex;
    padding:0;
    background-color:black;
    justify-content:center;
    font-size:30px;
    overflow:hidden;
    column-gap:25px;
    width:100%;
    position:-webkit-sticky;
    position:sticky;
    top:0;  
  }
  .navbar{
    display:flex;
    column-gap:25px;
    justify-content: center;
    top:0;
  }
  a{
    color:white;
  }
  a:hover{
    color:blue;
  }
  .pblogs{
    margin-top:50px;
    margin-left:50px;
    background-color:rgb(170, 155, 170);
    border:2px solid violet;
    border-radius:25px;
  }
  .images{
    display:flex;
  display:grid;
  grid-template-columns: repeat(3,1fr);

  }
.images >div{
    
   flex-wrap:no wrap;
  border:1px solid black;
  border-radius:5px;
  align-content:space-around;
   margin-top:120px;
  margin-left: 80px;
  max-width: fit-content;
  }
  .capture{
    height:250px;
    background-color: rgb(8, 56, 8);
    text-align:center;
    border:2px solid green;

  }
  .capture button{
   height:25px;
   width:140px;
   color:black;
   background-color:grey;
  }
  .last{
    display:flex;
  }
  .last>div{
    height:400px;
    width:800px;
    flex-wrap:no wrap;
  border:1px solid black;
  border-radius:5px;
  align-content:space-around;
  }
  .last .photography h1{
    text-align:center;
    font-size:50px;
  }
  .last .contactinfo h1{
    text-align:center;
    font-size:50px;
  }
  .last .newsletter h1{
    text-align:center;
    font-size:50px;
  }
  .last .photography a{
    margin-left:30px;
  }
  .last .newsletter button{ 
    height:55px;
    width:140px;
    color:black;
    background-color:grey;
    margin-left:250px;
      }
      .last .newsletter input{
        height:40px;
    width:100px;
    color:black;
    background-color:grey;
    margin-left:250px;
        
      }